body {
  font-family: "Helvetica";
}

#container {
  border: 2px solid purple;
  padding: 10px;
}

#gallery {
  border: 2px solid blue;
  float: left;
  height: 330px;
  width: 35%;
  padding-top: 10px;
  padding-right: 10px;
}

#description {
  border: 2px solid red;
  height: 330px;
  overflow: auto;
  padding-top: 10px;
  padding-left: 10px;
  width: 40%;
}

#similar {
  border: 2px solid green;
  width: 75%;
}

#review {
  border: 2px solid orange;
  width: 75%;
}
